<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xafurdaria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C72766F1C8C656E00F600F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7276831C8C656E00F600F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C72768E1C8C656E00F600F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
